<a href="https://colab.research.google.com/github/sowmith8899/data690_skola2/blob/main/assignment_06/assignment_06.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Assignment 06
### Note:
- For visualization, you should use Plotly Express 
- Use this notebook as your template and follow the instructions

The first half of this assignment is similar to assignment 04.

This gives you a chance to refresh.

The second half is new and gives you a chance to perform additional practices.

You also get a chance to use some of the Python libraries and techniques.

The links to the zip file is:

- https://collegescorecard.ed.gov/data (This web page contains the link to the zip file)

- https://ed-public-download.app.cloud.gov/downloads/CollegeScorecard_Raw_Data_09012022.zip (The link to the zip file)

You can run `!wget` command in Colab notebook to retrieve it directly, then run `!unzip` command to extract files (I have provided the cells to do so next for your convenience)

Your folder structure should look like this in your Colab enviroment:

- ...
- 'MERGED1996_97_PP.csv',
- 'MERGED2015_16_PP.csv',
- ...
- 'MERGED2017_18_PP.csv'
- ...

**Note: you should refresh the folder to see all files.**

In [8]:
%mkdir assignment_06 
%cd /content/assignment_06

/content/assignment_06

In [9]:
%pwd

'/content/assignment_06'

## Step 1 - Retrieve the zip file

In [10]:
!wget https://ed-public-download.app.cloud.gov/downloads/CollegeScorecard_Raw_Data_09012022.zip

--2022-10-09 21:42:54--  https://ed-public-download.app.cloud.gov/downloads/CollegeScorecard_Raw_Data_09012022.zip
Resolving ed-public-download.app.cloud.gov (ed-public-download.app.cloud.gov)... 3.30.138.208, 3.30.49.38, 2600:1f12:18a:7d00:35c5:2f94:bca6:6240, ...
Connecting to ed-public-download.app.cloud.gov (ed-public-download.app.cloud.gov)|3.30.138.208|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 410294884 (391M) [application/zip]
Saving to: ‘CollegeScorecard_Raw_Data_09012022.zip’

CollegeScorecard_Ra 100%[===================>] 391.29M  75.5MB/s    in 5.5s

2022-10-09 21:43:00 (70.9 MB/s) - ‘CollegeScorecard_Raw_Data_09012022.zip’ saved [410294884/410294884]

## Step 2 - Unzip the zip file

In [11]:
!unzip CollegeScorecard_Raw_Data_09012022.zip

Archive:  CollegeScorecard_Raw_Data_09012022.zip
 extracting: Crosswalks.zip
  inflating: data.yaml
  inflating: FieldOfStudyData1415_1516_PP.csv
  inflating: FieldOfStudyData1516_1617_PP.csv
  inflating: FieldOfStudyData1617_1718_PP.csv
  inflating: FieldOfStudyData1718_1819_PP.csv
  inflating: MERGED1996_97_PP.csv
  inflating: MERGED1997_98_PP.csv
  inflating: MERGED1998_99_PP.csv
  inflating: MERGED1999_00_PP.csv
  inflating: MERGED2000_01_PP.csv
  inflating: MERGED2001_02_PP.csv
  inflating: MERGED2002_03_PP.csv
  inflating: MERGED2003_04_PP.csv
  inflating: MERGED2004_05_PP.csv
  inflating: MERGED2005_06_PP.csv
  inflating: MERGED2006_07_PP.csv
  inflating: MERGED2007_08_PP.csv
  inflating: MERGED2008_09_PP.csv
  inflating: MERGED2009_10_PP.csv
  inflating: MERGED2010_11_PP.csv
  inflating: MERGED2011_12_PP.csv
  inflating: MERGED2012_13_PP.csv
  inflating: MERGED2013_14_PP.csv
  inflating: MERGED2014_15_PP.csv
  inflating: MERGED2015_16_PP.csv
  inflating: MERGED2016_17_PP.csv
  inflating: MERGED2017_18_PP.csv
  inflating: MERGED2018_19_PP.csv
  inflating: MERGED2019_20_PP.csv
  inflating: MERGED2020_21_PP.csv
  inflating: Most-Recent-Cohorts-Field-of-Study.csv
  inflating: Most-Recent-Cohorts-Institution.csv

## Step 3 - Import Libraries

In [52]:
#(Write code below)

import pandas as pd
import numpy as np
import plotly.express as px
import os

## Step 4 - Display the current working directory using os.getcwd()

You would need to import a standard Python library called os which stands for operating system. so place that import statement in the previous cell. Since your notebook and your data files may or may not in the same folder, you want to make sure what the current working folder is and how to access a data file in a different folder.

In [13]:
#(Write code below)
dir = os.getcwd()
dir

'/content/assignment_06'

## Step 5 - Get the list of file names

os library has a method call listdir which generates a list of files in a directory/folder. Use this method to assign the contents (list of file names) of the data folder to a variable and display it. If necessary, you can use ../ construct to traverse to the parent folder and then to another foloder parallel to the current folder

In [14]:
#(Write code below)
files =os.listdir(dir)
files

['MERGED2006_07_PP.csv',
 'MERGED2009_10_PP.csv',
 'MERGED2003_04_PP.csv',
 'MERGED1998_99_PP.csv',
 'Crosswalks.zip',
 'MERGED2012_13_PP.csv',
 'MERGED2019_20_PP.csv',
 'MERGED2011_12_PP.csv',
 'MERGED2014_15_PP.csv',
 'Most-Recent-Cohorts-Field-of-Study.csv',
 'MERGED2000_01_PP.csv',
 'MERGED2007_08_PP.csv',
 'MERGED2016_17_PP.csv',
 'FieldOfStudyData1718_1819_PP.csv',
 'MERGED2018_19_PP.csv',
 'MERGED2008_09_PP.csv',
 'MERGED2002_03_PP.csv',
 'MERGED2004_05_PP.csv',
 'MERGED2010_11_PP.csv',
 'MERGED2013_14_PP.csv',
 'MERGED2005_06_PP.csv',
 'FieldOfStudyData1516_1617_PP.csv',
 'MERGED1999_00_PP.csv',
 'MERGED2015_16_PP.csv',
 'MERGED1996_97_PP.csv',
 'FieldOfStudyData1415_1516_PP.csv',
 'FieldOfStudyData1617_1718_PP.csv',
 'MERGED2017_18_PP.csv',
 'data.yaml',
 'Most-Recent-Cohorts-Institution.csv',
 'MERGED1997_98_PP.csv',
 'MERGED2020_21_PP.csv',
 'CollegeScorecard_Raw_Data_09012022.zip',
 'MERGED2001_02_PP.csv']

## Step 6 - Process only the yearly data files

The folder contains files that are not the yearly data files. Write code to remove the unwanted files from the list variable.

Note: don't remove/delete these files from the folder in the folder.
For example, use the file extension to only use the csv files or use the name patter - data file name begins with "MERGED". You can use the concept of list comprehension to write just *one* line of code as well as using a for loop, your choice.

In [22]:
#(Write code below)
yearly = [x for x in files if "MERGED" in x]
yearly

['MERGED2006_07_PP.csv',
 'MERGED2009_10_PP.csv',
 'MERGED2003_04_PP.csv',
 'MERGED1998_99_PP.csv',
 'MERGED2012_13_PP.csv',
 'MERGED2019_20_PP.csv',
 'MERGED2011_12_PP.csv',
 'MERGED2014_15_PP.csv',
 'MERGED2000_01_PP.csv',
 'MERGED2007_08_PP.csv',
 'MERGED2016_17_PP.csv',
 'MERGED2018_19_PP.csv',
 'MERGED2008_09_PP.csv',
 'MERGED2002_03_PP.csv',
 'MERGED2004_05_PP.csv',
 'MERGED2010_11_PP.csv',
 'MERGED2013_14_PP.csv',
 'MERGED2005_06_PP.csv',
 'MERGED1999_00_PP.csv',
 'MERGED2015_16_PP.csv',
 'MERGED1996_97_PP.csv',
 'MERGED2017_18_PP.csv',
 'MERGED1997_98_PP.csv',
 'MERGED2020_21_PP.csv',
 'MERGED2001_02_PP.csv']

## Step 7 - Load data files
 
Now that you have a clean list of the yearly files, you want to loop through them and read them into a dataframe one at a time. You only load six columns: ["UNITID", "INSTNM", "STABBR", "REGION", "ADM_RATE", "TUITIONFEE_IN"].

You should use "usecols" option of Pandas to avoid reading unwanted columns. You also want to add a new column call "YEAR" to differentiate the data frames from each other. The YEAR variable should be yyyy format so tht you can convert them into integer. If you use the format yyyy-yy (such as 1997-98 school year), you will not be able to convert them directly to integer. If you use scatter plot, the YEAR needs to be converted to integer or float. 

You would use an empty list and append the yearly dataframes to the list. After all data files are loaded and appended to the list, you would use Pandas to concatenate them into a new single data frame.

Note: this exercise incorporates many techques we learned before:

- list (creating an empty, append an item to the list)
- for loop 
- read only the needed columns from a file (using usecols option)
- add a new column to a data frame
- concatenate multiple dataframes into a single one

This exercise may appear challenging but it worths the effort. You will learn a lot and love it. I promise.

In [25]:
#(Write code here)
li = []
def yearly_files(fname):
    df = pd.read_csv(fname,usecols=['UNITID', 'INSTNM', 'STABBR' , 'REGION' , 'ADM_RATE' , 'TUITIONFEE_IN'])
    df['year'] = fname.split('_')[0].replace('MERGED','')
    li.append(df) 
    return df 

for i in yearly:
  yearly_files(i)

In [30]:
df = pd.concat(li)
df

,UNITID,INSTNM,STABBR,REGION,ADM_RATE,TUITIONFEE_IN,year
0,100636,Community College of the Air Force,AL,0.0,NaN,NaN,2006
1,100654,Alabama A & M University,AL,5.0,0.4118,3640.0,2006
2,100663,University of Alabama at Birmingham,AL,5.0,0.8778,4792.0,2006
3,100690,Amridge University,AL,5.0,NaN,6000.0,2006
4,100706,University of Alabama in Huntsville,AL,5.0,0.8834,4848.0,2006
...,...,...,...,...,...,...,...
6720,440855,Milan Institute-Amarillo,TX,6.0,1.0000,NaN,2001
6721,440864,Trinity College,CA,8.0,1.0000,NaN,2001
6722,440873,Vatterott College-Dividend,TN,5.0,0.9091,7520.0,2001
6723,440882,Vatterott College-Tulsa,OK,6.0,0.9106,6715.0,2001
6724,440891,Vatterott College-Wichita,KS,4.0,0.8654,8380.0,2001

## Step 8 - Explore the new dataframe 

For example, # of observations, varibles, head, tail, sample, missing values, statistics, etc.

In [41]:
#(Write code here)
print("Number of Rows:",len(df.axes[0]))
print("Number of Cols:",len(df.axes[1]))

Number of Rows: 176707
Number of Cols: 7

In [32]:
df.head()

,UNITID,INSTNM,STABBR,REGION,ADM_RATE,TUITIONFEE_IN,year
0,100636,Community College of the Air Force,AL,0.0,NaN,NaN,2006
1,100654,Alabama A & M University,AL,5.0,0.4118,3640.0,2006
2,100663,University of Alabama at Birmingham,AL,5.0,0.8778,4792.0,2006
3,100690,Amridge University,AL,5.0,NaN,6000.0,2006
4,100706,University of Alabama in Huntsville,AL,5.0,0.8834,4848.0,2006

In [33]:
df.tail()

,UNITID,INSTNM,STABBR,REGION,ADM_RATE,TUITIONFEE_IN,year
6720,440855,Milan Institute-Amarillo,TX,6.0,1.0000,NaN,2001
6721,440864,Trinity College,CA,8.0,1.0000,NaN,2001
6722,440873,Vatterott College-Dividend,TN,5.0,0.9091,7520.0,2001
6723,440882,Vatterott College-Tulsa,OK,6.0,0.9106,6715.0,2001
6724,440891,Vatterott College-Wichita,KS,4.0,0.8654,8380.0,2001

In [34]:
df.sample()

,UNITID,INSTNM,STABBR,REGION,ADM_RATE,TUITIONFEE_IN,year
2241,176549,Anthem College-Maryland Heights,MO,4.0,NaN,NaN,2006

In [50]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 176707 entries, 0 to 6724
Data columns (total 7 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   UNITID         176707 non-null  int64
 1   INSTNM         176707 non-null  object
 2   STABBR         176707 non-null  object
 3   REGION         176706 non-null  float64
 4   ADM_RATE       48863 non-null   float64
 5   TUITIONFEE_IN  86867 non-null   float64
 6   year           176707 non-null  object
dtypes: float64(3), int64(1), object(3)
memory usage: 10.8+ MB

In [35]:
df.isnull().sum()

UNITID                0
INSTNM                0
STABBR                0
REGION                1
ADM_RATE         127844
TUITIONFEE_IN     89840
year                  0
dtype: int64

In [37]:
df.describe()

             UNITID         REGION      ADM_RATE  TUITIONFEE_IN
count  1.767070e+05  176706.000000  48863.000000   86867.000000
mean   1.054338e+06       4.559279      0.693785   12037.588290
std    4.959072e+06       2.188341      0.217019   10462.970227
min    1.006360e+05       0.000000      0.000000       0.000000
25%    1.641730e+05       3.000000      0.556700    3936.000000
50%    2.136310e+05       5.000000      0.719500    9422.000000
75%    4.137780e+05       6.000000      0.857100   16490.000000
max    4.957672e+07       9.000000      1.000000   74787.000000

## Step 9 - UMBC 

The dataframe contains many years of data of all U.S. colleges. let's just look at UMBC. Filter/query the dataframe to retrieve only rows that belong to UMBC (one row represent one year). Save the UMNC data to a new data frame. using a new variable for the UMBC data frame, so that the old big data frame is still available for later use.

In [42]:
#(Write code here)

umbc = df.loc[df["INSTNM"].str.contains("University of Maryland-Baltimore County")]
umbc

,UNITID,INSTNM,STABBR,REGION,ADM_RATE,TUITIONFEE_IN,year
1799,163268,University of Maryland-Baltimore County,MD,2.0,0.7153,8622.0,2006
1745,163268,University of Maryland-Baltimore County,MD,2.0,0.6890,8872.0,2009
1873,163268,University of Maryland-Baltimore County,MD,2.0,0.5757,7388.0,2003
1982,163268,University of Maryland-Baltimore County,MD,2.0,NaN,NaN,1998
1660,163268,University of Maryland-Baltimore County,MD,2.0,0.6035,9764.0,2012
1391,163268,University of Maryland-Baltimore County,MD,2.0,0.6103,12028.0,2019
1694,163268,University of Maryland-Baltimore County,MD,2.0,0.6081,9467.0,2011
1610,163268,University of Maryland-Baltimore County,MD,2.0,0.5961,10384.0,2014
1926,163268,University of Maryland-Baltimore County,MD,2.0,NaN,5490.0,2000
1779,163268,University of Maryland-Baltimore County,MD,2.0,0.6895,8708.0,2007
1510,163268,University of Maryland-Baltimore County,MD,2.0,0.5683,11264.0,2016
1415,163268,University of Maryland-Baltimore County,MD,2.0,0.5794,11778.0,2018
1767,163268,University of Maryland-Baltimore County,MD,2.0,0.7174,8780.0,2008
1893,163268,University of Maryland-Baltimore County,MD,2.0,0.6327,6362.0,2002
1830,163268,University of Maryland-Baltimore County,MD,2.0,0.7014,8020.0,2004
1710,163268,University of Maryland-Baltimore County,MD,2.0,0.6589,9171.0,2010
1629,163268,University of Maryland-Baltimore County,MD,2.0,0.6315,10068.0,2013
1819,163268,University of Maryland-Baltimore County,MD,2.0,0.7143,8520.0,2005
1955,163268,University of Maryland-Baltimore County,MD,2.0,NaN,NaN,1999
1555,163268,University of Maryland-Baltimore County,MD,2.0,0.5942,11006.0,2015
2151,163268,University of Maryland-Baltimore County,MD,2.0,NaN,NaN,1996
1478,163268,University of Maryland-Baltimore County,MD,2.0,0.6021,11518.0,2017
2049,163268,University of Maryland-Baltimore County,MD,2.0,NaN,NaN,1997
1375,163268,University of Maryland-Baltimore County,MD,2.0,0.6948,9420.0,2020
1915,163268,University of Maryland-Baltimore County,MD,2.0,0.6551,5910.0,2001

## Step 10 - Explore the new dataframe

For example, # of observations, varibles, head, tail, sample, missing values, statistics, etc

In [43]:
#(Write code here)
print("Number of Rows:",len(umbc.axes[0]))
print("Number of Cols:",len(umbc.axes[1]))

Number of Rows: 25
Number of Cols: 7

In [44]:
umbc.head()

,UNITID,INSTNM,STABBR,REGION,ADM_RATE,TUITIONFEE_IN,year
1799,163268,University of Maryland-Baltimore County,MD,2.0,0.7153,8622.0,2006
1745,163268,University of Maryland-Baltimore County,MD,2.0,0.6890,8872.0,2009
1873,163268,University of Maryland-Baltimore County,MD,2.0,0.5757,7388.0,2003
1982,163268,University of Maryland-Baltimore County,MD,2.0,NaN,NaN,1998
1660,163268,University of Maryland-Baltimore County,MD,2.0,0.6035,9764.0,2012

In [45]:
umbc.tail()

,UNITID,INSTNM,STABBR,REGION,ADM_RATE,TUITIONFEE_IN,year
2151,163268,University of Maryland-Baltimore County,MD,2.0,NaN,NaN,1996
1478,163268,University of Maryland-Baltimore County,MD,2.0,0.6021,11518.0,2017
2049,163268,University of Maryland-Baltimore County,MD,2.0,NaN,NaN,1997
1375,163268,University of Maryland-Baltimore County,MD,2.0,0.6948,9420.0,2020
1915,163268,University of Maryland-Baltimore County,MD,2.0,0.6551,5910.0,2001

In [46]:
umbc.sample()

,UNITID,INSTNM,STABBR,REGION,ADM_RATE,TUITIONFEE_IN,year
1799,163268,University of Maryland-Baltimore County,MD,2.0,0.7153,8622.0,2006

In [49]:
umbc.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25 entries, 1799 to 1915
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   UNITID         25 non-null     int64
 1   INSTNM         25 non-null     object
 2   STABBR         25 non-null     object
 3   REGION         25 non-null     float64
 4   ADM_RATE       20 non-null     float64
 5   TUITIONFEE_IN  21 non-null     float64
 6   year           25 non-null     object
dtypes: float64(3), int64(1), object(3)
memory usage: 1.6+ KB

In [47]:
umbc.isnull().sum()

UNITID           0
INSTNM           0
STABBR           0
REGION           0
ADM_RATE         5
TUITIONFEE_IN    4
year             0
dtype: int64

In [48]:
umbc.describe()

         UNITID  REGION   ADM_RATE  TUITIONFEE_IN
count      25.0    25.0  20.000000      21.000000
mean   163268.0     2.0   0.641880    9168.571429
std         0.0     0.0   0.051853    1854.082079
min    163268.0     2.0   0.568300    5490.000000
25%    163268.0     2.0   0.600600    8520.000000
50%    163268.0     2.0   0.632100    9171.000000
75%    163268.0     2.0   0.690825   10384.000000
max    163268.0     2.0   0.717400   12028.000000

## Step 11 - Plot UMBC's in-state tution overtime Bar Chart

In [56]:
#(Write code here)
srt = umbc.sort_values(by=["year"])
fig = px.bar(srt, x="year", y="TUITIONFEE_IN")
fig.show()

## Step 12 - Plot UMBC's in-state tution overtime using line Chart

In [57]:
#(Write code here)
fig = px.line(srt, x="year", y="TUITIONFEE_IN")
fig.show()

## Step 13 - Tuition Growth Rate

Now let's look at the tuition growth rate year over year. We need to calculate UMBC tuition change percentage each year. First convert the TUITIONFEE_IN column to a Python List

In [59]:
#(Write code here)
fee_li = srt['TUITIONFEE_IN'].tolist()
for i in range(1,len(fee_li)):
  per=((fee_li[i]-fee_li[i-1])/fee_li[i-1])*100
  print(per)

nan
nan
nan
nan
7.650273224043716
7.648054145516074
16.12700408676517
8.554412560909583
6.234413965087282
1.1971830985915493
0.9974483878450475
0.8268259072117593
1.0478359908883828
3.370153291253381
3.227565151019518
3.1372134783986483
3.11347808275297
3.1386571315057608
5.989984591679507
2.344175904052335
2.254971590909091
2.2573363431151243
2.122601460349805
-21.68274027269704

## Step 14 - Loop through the list and calculate the % change each year over the prior year

This takes some effort. Not hard, just some abstract/logical thinking and some experiments. Have fun on this one.

In [74]:
 #(Write code here)
per_li = []
fee_li = srt['TUITIONFEE_IN'].tolist()
for i in range(0,len(fee_li)):
  per=((fee_li[i]-fee_li[i-1])/fee_li[i-1])*100
  per_li.append(per)
per_li

[nan,
 nan,
 nan,
 nan,
 nan,
 7.650273224043716,
 7.648054145516074,
 16.12700408676517,
 8.554412560909583,
 6.234413965087282,
 1.1971830985915493,
 0.9974483878450475,
 0.8268259072117593,
 1.0478359908883828,
 3.370153291253381,
 3.227565151019518,
 3.1372134783986483,
 3.11347808275297,
 3.1386571315057608,
 5.989984591679507,
 2.344175904052335,
 2.254971590909091,
 2.2573363431151243,
 2.122601460349805,
 -21.68274027269704]

## Step 15 - Round up the percentage to two decimal points

The resulting number has many decimal points which are unnecessary and not visually appealing. You can use for loop. Or better, use list comprehension for simplicity/brevity.

In [75]:
#(Write code here)
PCT_CHANGE = [round(num, 2) for num in per_li]
PCT_CHANGE

[nan,
 nan,
 nan,
 nan,
 nan,
 7.65,
 7.65,
 16.13,
 8.55,
 6.23,
 1.2,
 1.0,
 0.83,
 1.05,
 3.37,
 3.23,
 3.14,
 3.11,
 3.14,
 5.99,
 2.34,
 2.25,
 2.26,
 2.12,
 -21.68]

## Step 16 - Add the list of the percentages to the dataframe as a new column ("PCT_CHANGE")

Not as hard as you may think. If you get stuck, you think too hard. Google it and you will find the answer.

In [76]:
#(Write code here)
srt['PCT_CHANGE'] = PCT_CHANGE
srt

,UNITID,INSTNM,STABBR,REGION,ADM_RATE,TUITIONFEE_IN,year,PCT_CHANGE
2151,163268,University of Maryland-Baltimore County,MD,2.0,NaN,NaN,1996,NaN
2049,163268,University of Maryland-Baltimore County,MD,2.0,NaN,NaN,1997,NaN
1982,163268,University of Maryland-Baltimore County,MD,2.0,NaN,NaN,1998,NaN
1955,163268,University of Maryland-Baltimore County,MD,2.0,NaN,NaN,1999,NaN
1926,163268,University of Maryland-Baltimore County,MD,2.0,NaN,5490.0,2000,NaN
1915,163268,University of Maryland-Baltimore County,MD,2.0,0.6551,5910.0,2001,7.65
1893,163268,University of Maryland-Baltimore County,MD,2.0,0.6327,6362.0,2002,7.65
1873,163268,University of Maryland-Baltimore County,MD,2.0,0.5757,7388.0,2003,16.13
1830,163268,University of Maryland-Baltimore County,MD,2.0,0.7014,8020.0,2004,8.55
1819,163268,University of Maryland-Baltimore County,MD,2.0,0.7143,8520.0,2005,6.23
1799,163268,University of Maryland-Baltimore County,MD,2.0,0.7153,8622.0,2006,1.20
1779,163268,University of Maryland-Baltimore County,MD,2.0,0.6895,8708.0,2007,1.00
1767,163268,University of Maryland-Baltimore County,MD,2.0,0.7174,8780.0,2008,0.83
1745,163268,University of Maryland-Baltimore County,MD,2.0,0.6890,8872.0,2009,1.05
1710,163268,University of Maryland-Baltimore County,MD,2.0,0.6589,9171.0,2010,3.37
1694,163268,University of Maryland-Baltimore County,MD,2.0,0.6081,9467.0,2011,3.23
1660,163268,University of Maryland-Baltimore County,MD,2.0,0.6035,9764.0,2012,3.14
1629,163268,University of Maryland-Baltimore County,MD,2.0,0.6315,10068.0,2013,3.11
1610,163268,University of Maryland-Baltimore County,MD,2.0,0.5961,10384.0,2014,3.14
1555,163268,University of Maryland-Baltimore County,MD,2.0,0.5942,11006.0,2015,5.99
1510,163268,University of Maryland-Baltimore County,MD,2.0,0.5683,11264.0,2016,2.34
1478,163268,University of Maryland-Baltimore County,MD,2.0,0.6021,11518.0,2017,2.25
1415,163268,University of Maryland-Baltimore County,MD,2.0,0.5794,11778.0,2018,2.26
1391,163268,University of Maryland-Baltimore County,MD,2.0,0.6103,12028.0,2019,2.12
1375,163268,University of Maryland-Baltimore County,MD,2.0,0.6948,9420.0,2020,-21.68

## Step 17 - Finaly, we can make the plot tuition growth rate year over year - bar first, then line chart

In [78]:
# (write code here)
fig = px.bar(srt, x="year", y="PCT_CHANGE")
fig.show()

In [79]:
fig = px.line(srt, x="year", y="PCT_CHANGE")
fig.show()

## Step 18 - Define Growth Rate Function

Since we want to do the same calculation for JHU. Instead of doing it piecemeal as we did for UMBC. Let's create a function which can be reused for any college. This function takes a list of tuitions and return a list of percentage changes year over year. This function can be used later.

In [95]:
#(Write code here)
def percentage_change(uni_list):
  pct_change_list=[]
  for i in range(0,len(uni_list)):
    pct_change=((uni_list[i]-uni_list[i-1])/uni_list[i-1])*100
    pct_change_list.append(pct_change)
    pct_change_rnd=[round(x,2) for x in pct_change_list]  
  return pct_change_rnd

## Step 19 - Get JHU Data

The dataframe contains many years of data of all U.S. colleges. Let's just look at JHU. Filter/query the dataframe to retrieve only rows that belong to JHU. Save the JHU data to a new data frame using a new variable so that the old big data frame is still available for later use.

In [89]:
#(Write code here)
jhu = df.loc[df["INSTNM"].str.contains("University of Maryland-Baltimore County")]
jhu

,UNITID,INSTNM,STABBR,REGION,ADM_RATE,TUITIONFEE_IN,year
1799,163268,University of Maryland-Baltimore County,MD,2.0,0.7153,8622.0,2006
1745,163268,University of Maryland-Baltimore County,MD,2.0,0.6890,8872.0,2009
1873,163268,University of Maryland-Baltimore County,MD,2.0,0.5757,7388.0,2003
1982,163268,University of Maryland-Baltimore County,MD,2.0,NaN,NaN,1998
1660,163268,University of Maryland-Baltimore County,MD,2.0,0.6035,9764.0,2012
1391,163268,University of Maryland-Baltimore County,MD,2.0,0.6103,12028.0,2019
1694,163268,University of Maryland-Baltimore County,MD,2.0,0.6081,9467.0,2011
1610,163268,University of Maryland-Baltimore County,MD,2.0,0.5961,10384.0,2014
1926,163268,University of Maryland-Baltimore County,MD,2.0,NaN,5490.0,2000
1779,163268,University of Maryland-Baltimore County,MD,2.0,0.6895,8708.0,2007
1510,163268,University of Maryland-Baltimore County,MD,2.0,0.5683,11264.0,2016
1415,163268,University of Maryland-Baltimore County,MD,2.0,0.5794,11778.0,2018
1767,163268,University of Maryland-Baltimore County,MD,2.0,0.7174,8780.0,2008
1893,163268,University of Maryland-Baltimore County,MD,2.0,0.6327,6362.0,2002
1830,163268,University of Maryland-Baltimore County,MD,2.0,0.7014,8020.0,2004
1710,163268,University of Maryland-Baltimore County,MD,2.0,0.6589,9171.0,2010
1629,163268,University of Maryland-Baltimore County,MD,2.0,0.6315,10068.0,2013
1819,163268,University of Maryland-Baltimore County,MD,2.0,0.7143,8520.0,2005
1955,163268,University of Maryland-Baltimore County,MD,2.0,NaN,NaN,1999
1555,163268,University of Maryland-Baltimore County,MD,2.0,0.5942,11006.0,2015
2151,163268,University of Maryland-Baltimore County,MD,2.0,NaN,NaN,1996
1478,163268,University of Maryland-Baltimore County,MD,2.0,0.6021,11518.0,2017
2049,163268,University of Maryland-Baltimore County,MD,2.0,NaN,NaN,1997
1375,163268,University of Maryland-Baltimore County,MD,2.0,0.6948,9420.0,2020
1915,163268,University of Maryland-Baltimore County,MD,2.0,0.6551,5910.0,2001

## Step 20 - Plot JHU's in-state tuition overtime

Let's plot bar and then line chart.

In [92]:
# <14> 
# Plot JHU's in-state tuition overtime from 1996 to 2019. 
# Let's plot bar and line chart together

#(Write code here)
srt_jhu = jhu.sort_values(by=["year"])
fig = px.bar(srt_jhu, x="year", y="TUITIONFEE_IN")
fig.show()

In [93]:
fig = px.line(srt_jhu, x="year", y="TUITIONFEE_IN")
fig.show()

## Step 21 - Calculate Tuition Growth Rate using the Function defined earlier

In [97]:
# Write code here
jhu_fee=srt_jhu["TUITIONFEE_IN"].to_list()

jhu_pct_change=percentage_change(jhu_fee)
jhu_pct_change

[nan,
 nan,
 nan,
 nan,
 nan,
 7.65,
 7.65,
 16.13,
 8.55,
 6.23,
 1.2,
 1.0,
 0.83,
 1.05,
 3.37,
 3.23,
 3.14,
 3.11,
 3.14,
 5.99,
 2.34,
 2.25,
 2.26,
 2.12,
 -21.68]

## Step 22 - Add the list of percentage changes to the dataframe as a new column ("PCT_CHANGE")

In [99]:
#(Write code here)

srt_jhu['PCT_CHANGE'] = jhu_pct_change
srt_jhu

,UNITID,INSTNM,STABBR,REGION,ADM_RATE,TUITIONFEE_IN,year,PCT_CHANGE
2151,163268,University of Maryland-Baltimore County,MD,2.0,NaN,NaN,1996,NaN
2049,163268,University of Maryland-Baltimore County,MD,2.0,NaN,NaN,1997,NaN
1982,163268,University of Maryland-Baltimore County,MD,2.0,NaN,NaN,1998,NaN
1955,163268,University of Maryland-Baltimore County,MD,2.0,NaN,NaN,1999,NaN
1926,163268,University of Maryland-Baltimore County,MD,2.0,NaN,5490.0,2000,NaN
1915,163268,University of Maryland-Baltimore County,MD,2.0,0.6551,5910.0,2001,7.65
1893,163268,University of Maryland-Baltimore County,MD,2.0,0.6327,6362.0,2002,7.65
1873,163268,University of Maryland-Baltimore County,MD,2.0,0.5757,7388.0,2003,16.13
1830,163268,University of Maryland-Baltimore County,MD,2.0,0.7014,8020.0,2004,8.55
1819,163268,University of Maryland-Baltimore County,MD,2.0,0.7143,8520.0,2005,6.23
1799,163268,University of Maryland-Baltimore County,MD,2.0,0.7153,8622.0,2006,1.20
1779,163268,University of Maryland-Baltimore County,MD,2.0,0.6895,8708.0,2007,1.00
1767,163268,University of Maryland-Baltimore County,MD,2.0,0.7174,8780.0,2008,0.83
1745,163268,University of Maryland-Baltimore County,MD,2.0,0.6890,8872.0,2009,1.05
1710,163268,University of Maryland-Baltimore County,MD,2.0,0.6589,9171.0,2010,3.37
1694,163268,University of Maryland-Baltimore County,MD,2.0,0.6081,9467.0,2011,3.23
1660,163268,University of Maryland-Baltimore County,MD,2.0,0.6035,9764.0,2012,3.14
1629,163268,University of Maryland-Baltimore County,MD,2.0,0.6315,10068.0,2013,3.11
1610,163268,University of Maryland-Baltimore County,MD,2.0,0.5961,10384.0,2014,3.14
1555,163268,University of Maryland-Baltimore County,MD,2.0,0.5942,11006.0,2015,5.99
1510,163268,University of Maryland-Baltimore County,MD,2.0,0.5683,11264.0,2016,2.34
1478,163268,University of Maryland-Baltimore County,MD,2.0,0.6021,11518.0,2017,2.25
1415,163268,University of Maryland-Baltimore County,MD,2.0,0.5794,11778.0,2018,2.26
1391,163268,University of Maryland-Baltimore County,MD,2.0,0.6103,12028.0,2019,2.12
1375,163268,University of Maryland-Baltimore County,MD,2.0,0.6948,9420.0,2020,-21.68

## Step 23 - Plot the JHU percentage changes tuitions over time

Bar plot first, then line plot.

In [100]:
#(Write code here)

fig = px.line(srt_jhu, x="year", y="PCT_CHANGE")
fig.show()

In [101]:
fig = px.bar(srt_jhu, x="year", y="PCT_CHANGE")
fig.show()

## Step 24 - Compare UMBC and JHU 

In order to plot both UMBC and JHU tuition change over time in the same plot, we need to combine the two datasets using the common key of YEAR. 

First make a umbc2 dataframe with only two columns needed. We don't need other columns. Also change the column name from "PCT_CHANGE" to "UMBC_PCT" in preparation for the merge. This is because both umbc and jhu dataframe have the same column name "PCT_CHANGE", we rename them to there is no collision during the merge. BTW, Pandas handles collision gracefully, Feel free to try it without changing the column names.

In [104]:
#(Write code here)

umbc2=srt[['year','PCT_CHANGE']]
umbc2 = umbc2.rename(columns = {'PCT_CHANGE':'UMBC_PCT'})
umbc2

      year  UMBC_PCT
2151  1996       NaN
2049  1997       NaN
1982  1998       NaN
1955  1999       NaN
1926  2000       NaN
1915  2001      7.65
1893  2002      7.65
1873  2003     16.13
1830  2004      8.55
1819  2005      6.23
1799  2006      1.20
1779  2007      1.00
1767  2008      0.83
1745  2009      1.05
1710  2010      3.37
1694  2011      3.23
1660  2012      3.14
1629  2013      3.11
1610  2014      3.14
1555  2015      5.99
1510  2016      2.34
1478  2017      2.25
1415  2018      2.26
1391  2019      2.12
1375  2020    -21.68

## Step 25 

Then make a jhu2 dataframe with only two columns needed. WE don't need other columns. Also change the column name from "PCT_CHANGE" to "JHU_PCT"  in preparation for the merge

In [105]:
#(Write code here)

jhu2=srt_jhu[['year','PCT_CHANGE']]
jhu2 = jhu2.rename(columns = {'PCT_CHANGE':'JHU_PCT'})
jhu2

      year  JHU_PCT
2151  1996      NaN
2049  1997      NaN
1982  1998      NaN
1955  1999      NaN
1926  2000      NaN
1915  2001     7.65
1893  2002     7.65
1873  2003    16.13
1830  2004     8.55
1819  2005     6.23
1799  2006     1.20
1779  2007     1.00
1767  2008     0.83
1745  2009     1.05
1710  2010     3.37
1694  2011     3.23
1660  2012     3.14
1629  2013     3.11
1610  2014     3.14
1555  2015     5.99
1510  2016     2.34
1478  2017     2.25
1415  2018     2.26
1391  2019     2.12
1375  2020   -21.68

## Step 26 - Merger the two data frames and display the new dataframe

In [106]:
#(Write code here)

new_df=umbc2.merge(jhu2, on = 'year', how = 'left')
new_df

    year  UMBC_PCT  JHU_PCT
0   1996       NaN      NaN
1   1997       NaN      NaN
2   1998       NaN      NaN
3   1999       NaN      NaN
4   2000       NaN      NaN
5   2001      7.65     7.65
6   2002      7.65     7.65
7   2003     16.13    16.13
8   2004      8.55     8.55
9   2005      6.23     6.23
10  2006      1.20     1.20
11  2007      1.00     1.00
12  2008      0.83     0.83
13  2009      1.05     1.05
14  2010      3.37     3.37
15  2011      3.23     3.23
16  2012      3.14     3.14
17  2013      3.11     3.11
18  2014      3.14     3.14
19  2015      5.99     5.99
20  2016      2.34     2.34
21  2017      2.25     2.25
22  2018      2.26     2.26
23  2019      2.12     2.12
24  2020    -21.68   -21.68

## Step 27 - Plot UMBC and JHU separately on the same line plot

In [109]:
#(Write code here)
fig = px.line(new_df, x="year", y=["UMBC_PCT","JHU_PCT"])
fig.show()

## Step 28 - Document your observation of the comparison plots using the following Markdown cell

#### Based on my observation of the plots
#### blah, blah 
#### blah, blah
#### ...
#### blah, blah

In [ ]:
# The end.