<a href="https://colab.research.google.com/github/sowmith8899/data690_skola2/blob/main/assignment_04/assignment_04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import files

uploaded = files.upload()

Saving MERGED2017_18_PP.csv to MERGED2017_18_PP (1).csv

In [ ]:
import pandas as pd

df = pd.read_csv("MERGED2017_18_PP.csv")
print(df)

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (1729) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

        UNITID    OPEID  OPEID6  \
0       100654   100200    1002
1       100663   105200    1052
2       100690  2503400   25034
3       100706   105500    1055
4       100724   100500    1005
...        ...      ...     ...
7107  48312404   108163    1081
7108  48387801  4223701   42237
7109  48400201  4228101   42281
7110  48778201  4221501   42215
7111  49005401  4182601   41826

                                                 INSTNM             CITY  \
0                              Alabama A & M University           Normal
1                   University of Alabama at Birmingham       Birmingham
2                                    Amridge University       Montgomery
3                   University of Alabama in Huntsville       Huntsville
4                              Alabama State University       Montgomery
...                                                 ...              ...
7107                   Arizona State University at Yuma             Yuma
7108  Bay Area Medical Academy - San Jose Satellite ...         San Jose
7109           High Desert Medical College - Bakerfield      Bakersfield
7110                                       BCI - Malden           Malden
7111               HCI College - Fort Lauderdale Campus  Fort Lauderdale

     STABBR         ZIP  ACCREDAGENCY  INSTURL  NPCURL  ...  \
0        AL       35762           NaN      NaN     NaN  ...
1        AL  35294-0110           NaN      NaN     NaN  ...
2        AL  36117-3553           NaN      NaN     NaN  ...
3        AL       35899           NaN      NaN     NaN  ...
4        AL  36104-0271           NaN      NaN     NaN  ...
...     ...         ...           ...      ...     ...  ...
7107     AZ   853656900           NaN      NaN     NaN  ...
7108     CA       95113           NaN      NaN     NaN  ...
7109     CA       93301           NaN      NaN     NaN  ...
7110     MA   021480000           NaN      NaN     NaN  ...
7111     FL       33309           NaN      NaN     NaN  ...

      OMENRUP_PARTTIME_POOLED_SUPP  FTFTPCTPELL  FTFTPCTFLOAN   UG12MN  \
0                              NaN       0.7106        0.7418   5207.0
1                              NaN       0.4009        0.5488  13308.0
2                              NaN       0.5000        0.5000    431.0
3                              NaN       0.2012        0.4231   7519.0
4                              NaN       0.7594        0.7402   5229.0
...                            ...          ...           ...      ...
7107                           NaN          NaN           NaN      NaN
7108                           NaN          NaN           NaN      NaN
7109                           NaN          NaN           NaN      NaN
7110                           NaN          NaN           NaN      NaN
7111                           NaN          NaN           NaN      NaN

       G12MN  SCUGFFN  POOLYRS_FTFTAIDPCT  FTFTPCTPELL_POOLED_SUPP  \
0     1185.0   1410.0                 NaN                      NaN
1     9888.0   1948.0                 NaN                      NaN
2      437.0      4.0                 NaN                      NaN
3     2378.0   1203.0                 NaN                      NaN
4      687.0   1143.0                 NaN                      NaN
...      ...      ...                 ...                      ...
7107     NaN      NaN                 NaN                      NaN
7108     NaN      NaN                 NaN                      NaN
7109     NaN      NaN                 NaN                      NaN
7110     NaN      NaN                 NaN                      NaN
7111     NaN      NaN                 NaN                      NaN

      FTFTPCTFLOAN_POOLED_SUPP  SCUGFFN_POOLED
0                          NaN             NaN
1                          NaN             NaN
2                          NaN             NaN
3                          NaN             NaN
4                          NaN             NaN
...                        ...             ...
7107                       NaN             NaN
7108                       NaN             NaN
7109                       NaN             NaN
7110                       NaN             NaN
7111                       NaN             NaN

[7112 rows x 1986 columns]

In [9]:
display(df)

,UNITID,OPEID,OPEID6,INSTNM,CITY,STABBR,ZIP,ACCREDAGENCY,INSTURL,NPCURL,...,OMENRUP_PARTTIME_POOLED_SUPP,FTFTPCTPELL,FTFTPCTFLOAN,UG12MN,G12MN,SCUGFFN,POOLYRS_FTFTAIDPCT,FTFTPCTPELL_POOLED_SUPP,FTFTPCTFLOAN_POOLED_SUPP,SCUGFFN_POOLED
0,100654,100200,1002,Alabama A & M University,Normal,AL,35762,NaN,NaN,NaN,...,NaN,0.7106,0.7418,5207.0,1185.0,1410.0,NaN,NaN,NaN,NaN
1,100663,105200,1052,University of Alabama at Birmingham,Birmingham,AL,35294-0110,NaN,NaN,NaN,...,NaN,0.4009,0.5488,13308.0,9888.0,1948.0,NaN,NaN,NaN,NaN
2,100690,2503400,25034,Amridge University,Montgomery,AL,36117-3553,NaN,NaN,NaN,...,NaN,0.5000,0.5000,431.0,437.0,4.0,NaN,NaN,NaN,NaN
3,100706,105500,1055,University of Alabama in Huntsville,Huntsville,AL,35899,NaN,NaN,NaN,...,NaN,0.2012,0.4231,7519.0,2378.0,1203.0,NaN,NaN,NaN,NaN
4,100724,100500,1005,Alabama State University,Montgomery,AL,36104-0271,NaN,NaN,NaN,...,NaN,0.7594,0.7402,5229.0,687.0,1143.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7107,48312404,108163,1081,Arizona State University at Yuma,Yuma,AZ,853656900,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7108,48387801,4223701,42237,Bay Area Medical Academy - San Jose Satellite ...,San Jose,CA,95113,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7109,48400201,4228101,42281,High Desert Medical College - Bakerfield,Bakersfield,CA,93301,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7110,48778201,4221501,42215,BCI - Malden,Malden,MA,021480000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7111,49005401,4182601,41826,HCI College - Fort Lauderdale Campus,Fort Lauderdale,FL,33309,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
rows=len(df.axes[0])
cols=len(df.axes[1])
print("Number of rows are",rows)
print("Number of columns are",cols)

Number of rows are 7112
Number of columns are 1986

In [11]:
df.head(5)

,UNITID,OPEID,OPEID6,INSTNM,CITY,STABBR,ZIP,ACCREDAGENCY,INSTURL,NPCURL,...,OMENRUP_PARTTIME_POOLED_SUPP,FTFTPCTPELL,FTFTPCTFLOAN,UG12MN,G12MN,SCUGFFN,POOLYRS_FTFTAIDPCT,FTFTPCTPELL_POOLED_SUPP,FTFTPCTFLOAN_POOLED_SUPP,SCUGFFN_POOLED
0,100654,100200,1002,Alabama A & M University,Normal,AL,35762,NaN,NaN,NaN,...,NaN,0.7106,0.7418,5207.0,1185.0,1410.0,NaN,NaN,NaN,NaN
1,100663,105200,1052,University of Alabama at Birmingham,Birmingham,AL,35294-0110,NaN,NaN,NaN,...,NaN,0.4009,0.5488,13308.0,9888.0,1948.0,NaN,NaN,NaN,NaN
2,100690,2503400,25034,Amridge University,Montgomery,AL,36117-3553,NaN,NaN,NaN,...,NaN,0.5000,0.5000,431.0,437.0,4.0,NaN,NaN,NaN,NaN
3,100706,105500,1055,University of Alabama in Huntsville,Huntsville,AL,35899,NaN,NaN,NaN,...,NaN,0.2012,0.4231,7519.0,2378.0,1203.0,NaN,NaN,NaN,NaN
4,100724,100500,1005,Alabama State University,Montgomery,AL,36104-0271,NaN,NaN,NaN,...,NaN,0.7594,0.7402,5229.0,687.0,1143.0,NaN,NaN,NaN,NaN

In [12]:
df.tail(5)

,UNITID,OPEID,OPEID6,INSTNM,CITY,STABBR,ZIP,ACCREDAGENCY,INSTURL,NPCURL,...,OMENRUP_PARTTIME_POOLED_SUPP,FTFTPCTPELL,FTFTPCTFLOAN,UG12MN,G12MN,SCUGFFN,POOLYRS_FTFTAIDPCT,FTFTPCTPELL_POOLED_SUPP,FTFTPCTFLOAN_POOLED_SUPP,SCUGFFN_POOLED
7107,48312404,108163,1081,Arizona State University at Yuma,Yuma,AZ,853656900,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7108,48387801,4223701,42237,Bay Area Medical Academy - San Jose Satellite ...,San Jose,CA,95113,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7109,48400201,4228101,42281,High Desert Medical College - Bakerfield,Bakersfield,CA,93301,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7110,48778201,4221501,42215,BCI - Malden,Malden,MA,021480000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7111,49005401,4182601,41826,HCI College - Fort Lauderdale Campus,Fort Lauderdale,FL,33309,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
df.sample(5)

,UNITID,OPEID,OPEID6,INSTNM,CITY,STABBR,ZIP,ACCREDAGENCY,INSTURL,NPCURL,...,OMENRUP_PARTTIME_POOLED_SUPP,FTFTPCTPELL,FTFTPCTFLOAN,UG12MN,G12MN,SCUGFFN,POOLYRS_FTFTAIDPCT,FTFTPCTPELL_POOLED_SUPP,FTFTPCTFLOAN_POOLED_SUPP,SCUGFFN_POOLED
4662,428125,3125300,31253,John Wesley International Barber and Beauty Co...,Long Beach,CA,90813,NaN,NaN,NaN,...,NaN,0.8974,0.0000,156.0,NaN,39.0,NaN,NaN,NaN,NaN
14,101143,101500,1015,Enterprise State Community College,Enterprise,AL,36330-1300,NaN,NaN,NaN,...,NaN,0.5574,0.2095,2458.0,NaN,296.0,NaN,NaN,NaN,NaN
5224,448275,4028300,40283,Mountain State School of Massage,Charleston,WV,25304,NaN,NaN,NaN,...,NaN,0.9600,0.9600,25.0,NaN,25.0,NaN,NaN,NaN,NaN
4975,442806,3709300,37093,Edward Via College of Osteopathic Medicine,Blacksburg,VA,24060,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1810.0,NaN,NaN,NaN,NaN,NaN
5045,444316,3763400,37634,Bold Beauty Academy,Billings,MT,59101,NaN,NaN,NaN,...,NaN,0.5000,0.6067,166.0,NaN,150.0,NaN,NaN,NaN,NaN

In [21]:
small_df = df.filter(["UNITID","INSTNM","CITY","STABBR","ZIP","ADM_RATE","UGDS","TUITIONFEE_IN","MN_EARN_WNE_P10" ])
display(small_df)

,UNITID,INSTNM,CITY,STABBR,ZIP,ADM_RATE,UGDS,TUITIONFEE_IN,MN_EARN_WNE_P10
0,100654,Alabama A & M University,Normal,AL,35762,0.9027,4824.0,9857.0,NaN
1,100663,University of Alabama at Birmingham,Birmingham,AL,35294-0110,0.9181,12866.0,8328.0,NaN
2,100690,Amridge University,Montgomery,AL,36117-3553,NaN,318.0,6900.0,NaN
3,100706,University of Alabama in Huntsville,Huntsville,AL,35899,0.8123,6917.0,10280.0,NaN
4,100724,Alabama State University,Montgomery,AL,36104-0271,0.9787,4189.0,11068.0,NaN
...,...,...,...,...,...,...,...,...,...
7107,48312404,Arizona State University at Yuma,Yuma,AZ,853656900,NaN,NaN,NaN,NaN
7108,48387801,Bay Area Medical Academy - San Jose Satellite ...,San Jose,CA,95113,NaN,NaN,NaN,NaN
7109,48400201,High Desert Medical College - Bakerfield,Bakersfield,CA,93301,NaN,NaN,NaN,NaN
7110,48778201,BCI - Malden,Malden,MA,021480000,NaN,NaN,NaN,NaN
7111,49005401,HCI College - Fort Lauderdale Campus,Fort Lauderdale,FL,33309,NaN,NaN,22575.0,NaN

In [22]:
small_df.head(10)

,UNITID,INSTNM,CITY,STABBR,ZIP,ADM_RATE,UGDS,TUITIONFEE_IN,MN_EARN_WNE_P10
0,100654,Alabama A & M University,Normal,AL,35762,0.9027,4824.0,9857.0,NaN
1,100663,University of Alabama at Birmingham,Birmingham,AL,35294-0110,0.9181,12866.0,8328.0,NaN
2,100690,Amridge University,Montgomery,AL,36117-3553,NaN,318.0,6900.0,NaN
3,100706,University of Alabama in Huntsville,Huntsville,AL,35899,0.8123,6917.0,10280.0,NaN
4,100724,Alabama State University,Montgomery,AL,36104-0271,0.9787,4189.0,11068.0,NaN
5,100751,The University of Alabama,Tuscaloosa,AL,35487-0100,0.5330,32387.0,10780.0,NaN
6,100760,Central Alabama Community College,Alexander City,AL,35010,NaN,1404.0,4440.0,NaN
7,100812,Athens State University,Athens,AL,35611,NaN,2801.0,NaN,NaN
8,100830,Auburn University at Montgomery,Montgomery,AL,36117-3596,0.8240,4211.0,8020.0,NaN
9,100858,Auburn University,Auburn,AL,36849,0.8393,23391.0,10968.0,NaN

In [23]:
small_df.tail(10)

,UNITID,INSTNM,CITY,STABBR,ZIP,ADM_RATE,UGDS,TUITIONFEE_IN,MN_EARN_WNE_P10
7102,48154401,National Personal Training Institute of Cleveland,Highland Heights,OH,44143,NaN,NaN,NaN,NaN
7103,48305401,Barber School of Pittsburgh - Ambridge,Ambridge,PA,150030000,NaN,NaN,NaN,NaN
7104,48312401,Arizona State University at Tucson,Tucson,AZ,857454284,NaN,NaN,NaN,NaN
7105,48312402,Arizona State University - ASU Colleges at Lak...,Lake Havasu City,AZ,864036877,NaN,NaN,6904.0,NaN
7106,48312403,Arizona State University at The Gila Valley,Thatcher,AZ,855525545,NaN,NaN,NaN,NaN
7107,48312404,Arizona State University at Yuma,Yuma,AZ,853656900,NaN,NaN,NaN,NaN
7108,48387801,Bay Area Medical Academy - San Jose Satellite ...,San Jose,CA,95113,NaN,NaN,NaN,NaN
7109,48400201,High Desert Medical College - Bakerfield,Bakersfield,CA,93301,NaN,NaN,NaN,NaN
7110,48778201,BCI - Malden,Malden,MA,021480000,NaN,NaN,NaN,NaN
7111,49005401,HCI College - Fort Lauderdale Campus,Fort Lauderdale,FL,33309,NaN,NaN,22575.0,NaN

In [24]:
small_df.sample(10)

,UNITID,INSTNM,CITY,STABBR,ZIP,ADM_RATE,UGDS,TUITIONFEE_IN,MN_EARN_WNE_P10
2507,198561,Gardner-Webb University,Boiling Springs,NC,28017-0997,0.5270,2210.0,30700.0,NaN
3615,230959,Middlebury College,Middlebury,VT,05753,0.1710,2532.0,52496.0,NaN
3131,215637,The Restaurant School at Walnut Hill College,Philadelphia,PA,19104,0.9737,334.0,23550.0,NaN
6596,490142,World Class Academy of Beauty Careers,Tallahassee,FL,32310-6831,NaN,8.0,NaN,NaN
727,135610,Trinity International University-Florida,Miami,FL,33186,NaN,150.0,12450.0,NaN
3028,213303,Keystone College,La Plume,PA,18440-0200,0.9440,1274.0,26670.0,NaN
3623,231095,Sterling College,Craftsbury Common,VT,05827-0072,0.9429,127.0,37588.0,NaN
3606,230816,Bennington College,Bennington,VT,05201-6003,0.5659,742.0,51920.0,NaN
6948,24297205,National University College - Mayaguez Campus,Mayaguez,PR,006800000,NaN,NaN,6495.0,NaN
2818,206862,Southern Nazarene University,Bethany,OK,73008,NaN,1520.0,25178.0,NaN

In [53]:
sd1 = small_df.loc[small_df["INSTNM"].str.contains("University of Maryland-Baltimore County")]
sd1

,UNITID,INSTNM,CITY,STABBR,ZIP,ADM_RATE,UGDS,TUITIONFEE_IN,MN_EARN_WNE_P10
1478,163268,University of Maryland-Baltimore County,Baltimore,MD,21250,0.6021,11130.0,11518.0,NaN

In [54]:
sd2 = small_df.loc[small_df["INSTNM"].str.contains("University of Maryland-College Park")]
sd2

,UNITID,INSTNM,CITY,STABBR,ZIP,ADM_RATE,UGDS,TUITIONFEE_IN,MN_EARN_WNE_P10
1479,163286,University of Maryland-College Park,College Park,MD,20742,0.445,29273.0,10399.0,NaN

In [55]:
sd3 = small_df.loc[small_df["INSTNM"].str.contains("Loyola University Maryland")]
sd3

,UNITID,INSTNM,CITY,STABBR,ZIP,ADM_RATE,UGDS,TUITIONFEE_IN,MN_EARN_WNE_P10
1475,163046,Loyola University Maryland,Baltimore,MD,21210-2699,0.7528,3903.0,47560.0,NaN

In [56]:
sd4 = small_df.loc[small_df["INSTNM"].str.contains("Johns Hopkins University")]
sd4

,UNITID,INSTNM,CITY,STABBR,ZIP,ADM_RATE,UGDS,TUITIONFEE_IN,MN_EARN_WNE_P10
1473,162928,Johns Hopkins University,Baltimore,MD,21218-2688,0.1254,5663.0,52170.0,NaN

In [57]:
df_4 = pd.concat([sd1,sd2,sd3,sd4])
df_4

,UNITID,INSTNM,CITY,STABBR,ZIP,ADM_RATE,UGDS,TUITIONFEE_IN,MN_EARN_WNE_P10
1478,163268,University of Maryland-Baltimore County,Baltimore,MD,21250,0.6021,11130.0,11518.0,NaN
1479,163286,University of Maryland-College Park,College Park,MD,20742,0.4450,29273.0,10399.0,NaN
1475,163046,Loyola University Maryland,Baltimore,MD,21210-2699,0.7528,3903.0,47560.0,NaN
1473,162928,Johns Hopkins University,Baltimore,MD,21218-2688,0.1254,5663.0,52170.0,NaN

In [60]:
mi=df_4["TUITIONFEE_IN"].min()
mx=df_4["TUITIONFEE_IN"].max()
avg=df_4["TUITIONFEE_IN"].mean()

print("minimun in-state tution of the above four institutions is ",mi)
print("maximum in-state tution of the above four institutions is ",mx)
print("average in-state tution of the above four institutions is",avg)

minimun in-state tution of the above four institutions is  10399.0
maximum in-state tution of the above four institutions is  52170.0
average in-state tution of the above four institutions is 30411.75

In [63]:
new_df = small_df.loc[small_df["STABBR"].isin(["MD","VA","DC","DE","PA"])]
new_df

,UNITID,INSTNM,CITY,STABBR,ZIP,ADM_RATE,UGDS,TUITIONFEE_IN,MN_EARN_WNE_P10
634,130837,Margaret H Rollins School of Nursing at Beebe ...,Lewes,DE,19958,NaN,59.0,NaN,NaN
635,130873,Dawn Career Institute LLC,Newark,DE,19702,NaN,108.0,NaN,NaN
636,130907,Delaware Technical Community College-Terry,Dover,DE,19901,NaN,12408.0,4848.0,NaN
637,130934,Delaware State University,Dover,DE,19901,0.4518,3678.0,7868.0,NaN
638,130943,University of Delaware,Newark,DE,19716,0.6289,18948.0,13160.0,NaN
...,...,...,...,...,...,...,...,...,...
7063,45794301,Somerset County Technology Center - Bedford Site,Bedford,PA,15522,NaN,NaN,NaN,NaN
7084,47503303,Relay Graduate School of Education - Delaware,Wilmington,DE,19801,NaN,NaN,NaN,NaN
7089,47503308,Relay Graduate School of Education - Philadelp...,Philadelphia,PA,191224906,NaN,NaN,NaN,NaN
7094,47503313,Relay Graduate School of Education - Washingto...,Washington,DC,20002,NaN,NaN,NaN,NaN
7103,48305401,Barber School of Pittsburgh - Ambridge,Ambridge,PA,150030000,NaN,NaN,NaN,NaN

In [64]:
new_df.to_csv("Five_states_colleges.csv")