<a href="https://colab.research.google.com/github/sowmith8899/data690_skola2/blob/main/assignment_02/690_session_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 690 DATA SESSION 2
- Name : Sowmith Kola
- Date : 09/09/2022

In [1]:
years = "1/11/1997 1991 2000 1969 1999 1998 1993 1996 1999 1997 1996 1998 1995 1999 1999 1997 1996 1996 1997 1995 1997 1999 2000"

print("Birth years of students:",years)

Birth years of students 1/11/1997 1991 2000 1969 1999 1998 1993 1996 1999 1997 1996 1998 1995 1999 1999 1997 1996 1996 1997 1995 1997 1999 2000

In [2]:
type(years)

str

In [4]:
years_list=years.split(" ")
print(years_list)

['1/11/1997', '1991', '2000', '1969', '1999', '1998', '1993', '1996', '1999', '1997', '1996', '1998', '1995', '1999', '1999', '1997', '1996', '1996', '1997', '1995', '1997', '1999', '2000']

In [5]:
x=["Jay","James","Jayson","Libin"]
type(x)

list

In [6]:
y=[2.4,12,-7,11,6]
type(y)

list

In [7]:
total=0
for num in y :
  total = total+num
print("Sum of y is",total)

print("Size of the list is ",len(y))

print("Average is ",total/len(y))

Sum of y is 24.4
Size of the list is  5
Average is  4.88