<a href="https://colab.research.google.com/github/sowmith8899/data690_skola2/blob/main/assignment_02/690_session_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 690 DATA SESSION 2
- Name : Sowmith Kola
- Date : 09/09/2022

In [10]:
years = "1/11/1997 1991 2000 1969 1999 1998 1993 1996 1999 1997 1996 1998 1995 1999 1999 1997 1996 1996 1997 1995 1997 1999 2000"

print("Birth years of students:",years)

Birth years of students: 1/11/1997 1991 2000 1969 1999 1998 1993 1996 1999 1997 1996 1998 1995 1999 1999 1997 1996 1996 1997 1995 1997 1999 2000

In [11]:
type(years)

str

In [17]:
years_list=years.split(" ")
print(years_list)

['1/11/1997', '1991', '2000', '1969', '1999', '1998', '1993', '1996', '1999', '1997', '1996', '1998', '1995', '1999', '1999', '1997', '1996', '1996', '1997', '1995', '1997', '1999', '2000']

In [18]:
years_list.pop(0)
print(years_list)

['1991', '2000', '1969', '1999', '1998', '1993', '1996', '1999', '1997', '1996', '1998', '1995', '1999', '1999', '1997', '1996', '1996', '1997', '1995', '1997', '1999', '2000']

In [19]:
from datetime import date

current_year = date.today().year
print(current_year)

total_age = 0
for birthyear in years_list :
  age = current_year - int(birthyear)
  total_age=age + total_age

print("Total age is ",total_age)

2022
Total age is  578

In [20]:
avg_age = total_age/len(years_list)
print("average age is",avg_age)

average age is 26.272727272727273

In [5]:
x=["Jay","James","Jayson","Libin"]
type(x)

list

In [6]:
y=[2.4,12,-7,11,6]
type(y)

list

In [7]:
total=0
for num in y :
  total = total+num
print("Sum of y is",total)

print("Size of the list is ",len(y))

print("Average is ",total/len(y))

Sum of y is 24.4
Size of the list is  5
Average is  4.88

#Approach 02 - fix data problem

In [21]:
y2 = "1/11/1997 1991 2000 1969 1999 1998 1993 1996 1999 1997 1996 1998 1995 1999 1999 1997 1996 1996 1997 1995 1997 1999 2000"

print("Birth years of students:",y2)

Birth years of students: 1/11/1997 1991 2000 1969 1999 1998 1993 1996 1999 1997 1996 1998 1995 1999 1999 1997 1996 1996 1997 1995 1997 1999 2000

In [23]:
yl=y2.split(" ")
print(yl)

['1/11/1997', '1991', '2000', '1969', '1999', '1998', '1993', '1996', '1999', '1997', '1996', '1998', '1995', '1999', '1999', '1997', '1996', '1996', '1997', '1995', '1997', '1999', '2000']

In [24]:
yl[0] = "1997"
print(yl)

['1997', '1991', '2000', '1969', '1999', '1998', '1993', '1996', '1999', '1997', '1996', '1998', '1995', '1999', '1999', '1997', '1996', '1996', '1997', '1995', '1997', '1999', '2000']

In [25]:
from datetime import date

current_year = date.today().year
print(current_year)

total_age = 0
for birthyear in yl :
  age = current_year - int(birthyear)
  total_age=age + total_age

print("Total age is ",total_age)

2022
Total age is  603

In [26]:
avg_age = total_age/len(years_list)
print("average age is",avg_age)

average age is 26.217391304347824

#Approach 3 - Handle exception

In [36]:
years = "1/11/1997 1991 2000 1969 1909 1998 1993 1996 1999 1997 1996 1998 1995 1999 1999 1997 1996 1996 1997 1995 1997 1999 2020"

print("Birth years of students:",years)

years_list=years.split(" ")
print(years_list)

Birth years of students: 1/11/1997 1991 2000 1969 1909 1998 1993 1996 1999 1997 1996 1998 1995 1999 1999 1997 1996 1996 1997 1995 1997 1999 2020
['1/11/1997', '1991', '2000', '1969', '1909', '1998', '1993', '1996', '1999', '1997', '1996', '1998', '1995', '1999', '1999', '1997', '1996', '1996', '1997', '1995', '1997', '1999', '2020']

In [37]:
from datetime import date

current_year = date.today().year
print(current_year)

total_age = 0
count = 0

for birthyear in years_list :
  try:
    year_int=int(birthyear)
  except:
    continue
  age = current_year - int(birthyear)

  if age > 80 :
    print("skipping the age of this person ",age)
    continue
  elif age < 10:
    print("skipping the age of kid ",age)
    continue

  total_age=age + total_age
  count=count+1

print("Total age is ",total_age)
print("Number of students is ",count)

2022
skipping the age of this person  113
skipping the age of kid  2
Total age is  533
Number of students is  20

In [38]:
avg_age = total_age/len(years_list)
print("average age is",avg_age)

average age is 23.17391304347826

#Misc

In [2]:
count = 0
while True :

  if count == 5 :
    break
  try :
    x = int(input("Enter an integer :"))
    count=count+1
  except :
    print("Please enter a vaild integer")

Enter an integer :1
Enter an integer :frfr
Please enter a vaild integer
Enter an integer :2
Enter an integer :3
Enter an integer :4
Enter an integer :5